@model DatabaseLayer.CompanyTable

@{
    ViewBag.Title = "Details";
}

<div>
<h4>Company Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            User Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTable.UserName)
        </dd>
        <dt>
            Company Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            Provider Contact No.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd>

        <dt>
            Company Phone No.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>

        <dt>
            Company Email Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            Company Logo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logo)
        </dd>

        <dt>
            Company Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompanyID }, new { @class = "genric-btn primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "genric-btn link"})
</p>
